@import 'fonts.less';
@import 'mixins.less';
body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 70px;
  margin: 0;
  &[data-compare="true"] {
    .bs-testimonials,
    .bs-advantages {
      display: none;
    }
  }
}

/* Navbar background */
@bs-navbar-background: #2c3f50;
@bs-navbar-link-color: #fff;
@bs-navbar-link-hover-color: #d5d5d5;

/* Static colors */
@bs-white: #fff;
@bs-orange: #f99c1c;
@bs-black: #000;
@bs-orange-hover: #f29719;
@bs-shadow-color: #61c6c8;
@bs-additional-label-color: #a09896;
@bs-additional-label: #e9eaeb;
@bs-additional-label-hover: #ececec;
@bs-screen-sm: 500px;
@bs-screen-sm-bootstrap: 768px;
@bs-screen-md-bootstrap: 992px;
@bs-screen-lg-bootstrap: 1170px;
.bs-navbar {
  background: @bs-navbar-background;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  @media (min-width: @bs-screen-sm-bootstrap) {
    text-align: left;
  }
  .bs-navbar-brand {
    @media (min-width: @bs-screen-sm-bootstrap) {
      float: left;
    }
    img {
      outline: none;
      border: none;
      max-width: 100%;
      padding-top: 10px;
    }
  }
  .bs-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      padding: 10px 0;
      text-align: center;
      @media (min-width: @bs-screen-sm) {
        text-align: left;
        padding: 25px 10px;
        float: left;
      }
      a {
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: none;
        color: @bs-navbar-link-color;
        .animate(.3s);
        &.bs-hover:hover {
          color: @bs-navbar-link-hover-color;
        }
      }
    }
  }
}
.bs-advantages {
  h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px @bs-shadow-color;
    color: @bs-white;
  }
  p {
    font-size: 13px;
    @media (min-width: @bs-screen-sm-bootstrap) {
      font-size: 16px;
    }
    text-shadow: 1px 1px 3px @bs-shadow-color;
    color: @bs-white;
    margin-bottom: 15px;
  }
}
.bs-break-line {
  max-width: 30px;
  width: 100%;
  display: inline-block;
  height: 2px;
  background: @bs-black;
  margin-bottom: 10px;
  margin-top: 10px;
  &.bs-white {
    background: @bs-white;
  }
}
.bs-additional-label {
  font-weight: 300;
  font-size: 11px;
  padding: 5px 25px;
  cursor: pointer;
  color: @bs-additional-label-color;
  background: @bs-additional-label;
  @media (min-width: @bs-screen-sm-bootstrap) {
    font-size: 12px;
  }
  .animate(.2s);
  &:hover {
    background: @bs-additional-label-hover;
  }
}
.bs-additional-label + .bs-additional-label {
  margin-left: 0;
  @media (min-width: @bs-screen-sm-bootstrap) {
    margin-left: 10px;
  }
}
.bs-blue-background {
  background: url("../img/blue-background.png");
}
.bs-background-hands {
  background: url("../img/hands.png");
  margin: 0 -15px;
  padding: 50px 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
.bs-normal {
  font-weight: 400;
}
.bs-paddingL0 {
  @media (min-width: @bs-screen-md-bootstrap) {
    padding-left: 0;
  }
}
.bs-paddingR0 {
  @media (min-width: @bs-screen-md-bootstrap) {
    padding-right: 0;
  }
}
.bs-pR {
  position: relative;
}
.bs-button-sm {
  padding: 5px 15px;
  .border-radius(3px);
  &:hover {
    color: @bs-navbar-link-color;
  }
}
.bs-standard-button {
  display: inline-block;
  cursor: pointer;
  background: @bs-navbar-background;
  color: @bs-white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 45px;
  .animate(.3s);
  .border-radius(4px);
  &:hover {
    color: @bs-navbar-link-hover-color;
  }
}
.bs-button-orange {
  background: @bs-orange;
  &:hover {
    background: @bs-orange-hover;
  }
}
.bs-arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid @bs-white;
}
@import 'components/angular-slider.less';
@import 'components/bs-compare.less';
@import 'components/bs-testimonials.less';
@import 'components/loader.less';
