<!doctype html>
<html>
  <%- include('common/head.ejs', {'headSectionData': headSectionData }) %>
  <body <% if (headSectionData.loadAngular) { %> ng-app="bsApp" <% } %>>
      <%- include('header.ejs') %>
      <%- include(template, {'templateData': templateData }) %>
  </body>
  <%- include('common/footer.ejs', {'headSectionData': headSectionData }) %>
</html>
