<div class="col-xs-12 breadcrumbs">
  <ul class="list-unstyled breadcrumbs__list">
    <li class="breadcrumbs__list__item">
      <a href="/" title="Strona główna">Strona główna</a>
    </li>
    <i class="fa fa-angle-right"></i>
    <li class="breadcrumbs__list__item--active">
      <a href="/provider/<%= provider.name %>" title="<%= provider.title %>"><%= provider.title %></a>
    </li>
  </ul>
</div>
