<section class="container">
  <div class="col-xs-12 bs-page-box">
    <h2>Regulamin Bankierski.pl</h2>
    <p>Regulamin określa zasady korzystania z portalu informacyjnego pod adresem www.bankierski.pl Korzystanie z usług dostępnych przez serwis oznacza akceptację Regulaminu Świadczenia Usług drogą elektroniczną bankierski.pl
    </p>
    <h5>§ 1. Terminy użyte w bankierski.pl</h5>
    <ul class="list-unstyled">
      <li>1. Serwis - platforma informacyjna posiadająca możliwość logowania się i zapamiętywania preferencji odbiorców w celu dostosowania treści do indywidualnych potrzeb.</li>
      <li>2. Użytkownik – osoba fizyczna korzystająca z Serwisu, w tym poszukująca i porównująca oferty pożyczek .</li>
      <li>3. Firma pożyczkowa – podmiot udzielający pożyczek według określonych kryteriów, którego oferta prezentowana jest w Serwisie.</li>
      <li>4. Oferta – indywidualna oferta firmy pożyczkowej, przygotowywana na podstawie kryteriów i danych wskazywanych przez potencjalnego pożyczkobiorcę.</li>
      <li>5. Polityka Prywatności – dokument informujący użytkowników o tym, jakie dane osobowe będą o nich gromadzone i w jaki sposób będą wykorzystywane. Odnosi się on do danych wprowadzanych podczas rejestracji i później podczas korzystania z Serwisu.</li>
      <li>6. Usługi - usługi świadczone przez Usługodawcę drogą elektroniczną, o których mowa w § 4 niniejszego regulaminu.</li>
    </ul>
    <h5>§ 2. Postanowienia wstępne</h5>
    <ul class="list-unstyled">
      <li>1. Na podstawie art. 8 ust. 1 pkt 1 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. Nr 144, poz. 1204 z późn. zmianami) bankierski.pl ustala niniejszy regulamin świadczenia usług drogą elektroniczną, zwany dalej Regulaminem i zobowiązuje się do jego przestrzegania.</li>
      <li>2. Użytkownik zobowiązany jest do przestrzegania Regulaminu, a korzystając z z jego Usług wyraża zgodę na treść Regulaminu i akceptuje jego warunki, w tym na zawarcie umowy o świadczenie usług drogą elektroniczną, bez konieczności zawarcia odrębnej umowy oraz przetwarzanie jego danych osobowych w zakresie i na zasadach określonych w Regulaminie.</li>
      <li>3. Serwis bankierski.pl za pośrednictwem Serwisu nieodpłatnie udostępnia Użytkownikowi zasoby dotyczące pożyczek chwilówek, w tym oferuje możliwość korzystania z porównywarki kredytowej uaktualnianej na bieżąco, zgodnie z aktualnymi propozycjami kredytowymi pożyczkodawców.</li>
      <li>4. Użytkownik przed rozpoczęciem korzystania z Serwisu powinien zapoznać się i zaakceptować treść niniejszego Regulaminu.</li>
      <li>5. Regulamin określa rodzaje usług świadczonych za pośrednictwem Serwisu, warunki i zasady korzystania z Serwisu, w tym warunki zawierania i rozwiązywania umów o świadczenie usług oferowanych za jego pośrednictwem.</li>
      <li>6. W sprawach nieuregulowanych w niniejszym Regulaminie, a w szczególności do składania oświadczeń woli w postaci elektronicznej, stosuje się przepisy Kodeksu Cywilnego (Dz. U z 1964 r., nr 16, poz. 93 z późn. zmianami), Ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz.U. z 2002 r., nr 144, poz. 1204 z późn. zmianami), Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (Dz.U. z 2002 r., nr 101, poz. 926 z późn. zmianami), Ustawy z dnia 2 marca 2000 r. o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz.U. z 2000 r.Nr 22, poz.271 z późn. zmianami), Ustawy z dnia 22 maja 2003 roku o działalności ubezpieczeniowej (Dz.U. z 2010 r., Dz. U. Nr 11, poz. 66) oraz innych stosownych aktów prawnych.</li>
    </ul>
    <h5>§ 3. Zawarcie i rozwiązanie umowy</h5>
    <ul class="list-unstyled">
      <li>1. Niniejszy Regulamin stanowi integralną część zawieranych przez bankierski.pl z Użytkownikiem umów o świadczenie Usług. Rozpoczęcie korzystania z Usług objętych Regulaminem i wyrażenie zgody na przestrzeganie Regulaminu przy uruchamianiu Usług przez Serwis jest równoznaczne z pełną akceptacją warunków niniejszego Regulaminu oraz z zawarciem umowy o świadczenie tych Usług bez konieczności sporządzenia odrębnej umowy. Zawarcie umowy o świadczenie Usług upoważnia bankierski.pl do przekazania danych użytkownika do partnerów, których usługi są prezentowane w Serwisie, w szczególności do firm pożyczkowych.</li>
      <li>2. Użytkownik korzystając z Usług i akceptując niniejszy Regulamin oświadcza, że za wystarczające uznaje przekazanie mu informacji o Serwisie wskazane w ustawie z dnia 22 maja 2003r. O pośrednictwie ubezpieczeniowym (Dz. U. Nr 124, poz.1154 z późn. zm.) poprzez umieszczenie tych informacji w Regulaminie oraz Serwisie w trakcie świadczenia usług drogą elektroniczną.</li>
      <li>3. Użytkownik ma prawo w każdej chwili zakończyć korzystanie z Usług Serwisu bankierski.pl. Skutki prawne zakończenia korzystania z Usług określają bezwzględnie obowiązujące przepisy prawa, właściwe ze względu na charakter prawny świadczonej usługi, a także okoliczności faktyczne.</li>
      <li>4. Umowa o świadczenie Usług drogą elektroniczną rozwiązuje się automatycznie bez konieczności składania dodatkowych oświadczeń wraz z chwilą opuszczenia przez Użytkownika stron Serwisu, w ramach których udostępniane są Usługi.</li>
    </ul>
    <h5>§ 4. Usługi świadczone przez bankierski.pl</h5>
    <ul class="list-unstyled">
      <li>1. Podstawową funkcją Serwisu bankierski.pl jest udostępnienie Użytkownikowi ofert pożyczek oraz wyszukanie najbardziej korzystnych propozycji według kryteriów wskazanych przez Użytkownika.</li>
      <li>2. Wszystkie usługi świadczone są przez Serwis nieodpłatnie.</li>
      <li>3. Serwis bankierski.pl dokłada wszelkich starań, aby podawane informacje na stronie były jak najbardziej rzetelne.</li>
    </ul>
    <h5>§ 5. Odpowiedzialność bankierski.pl wobec Użytkownika</h5>
    <ul class="list-unstyled">
      <li>1. Serwis bankierski.pl nie ponosi odpowiedzialności za podawanie fałszywych danych, niekompletnych lub takich, które mogłyby wprowadzić w błąd.</li>
      <li>2. Serwis bankierski.pl nie ponosi odpowiedzialności za korzystanie z Serwisu w sposób sprzeczny z postanowieniami Regulaminu.</li>
      <li>3. Użytkownik przekazuje Serwisowi bankierski.pl swoje dane osobowe dobrowolnie.</li>
      <li>4. Użytkownik ma możliwość dostępu do swoich danych osobowych i wprowadzania zmian.</li>
      <li>5. Bankierski.pl zastrzega możliwość występowania na stronie „cookies”- tj. fragment tekstu, który pozwala na identyfikację komputera.</li>
      <li>6. Zabronione jest dostarczanie przez Użytkownika treści o charakterze obraźliwym, treści nieprawdziwych lub mogących wprowadzić w błąd, treści zawierających wirusy lub treści, które mogą wywołać zakłócenia lub uszkodzenia systemów komputerowych.</li>
      <li>7. Wszystkie informacje umieszczane na Portalu nie stanowią oficjalnej wykładni prawa.</li>
      <li>8. Serwis nie ponosi odpowiedzialności za nieumiejętne korzystanie z zawartości serwisu lub zaniechania innych podmiotów, dla których zawarto umowy za pośrednictwem Serwisu bankierski.pl.</li>
      <li>9. Podane informacje dotyczące kredytów pochodzą z ogólnie dostępnych źródeł lub od osób trzecich, upoważnionych do udostępniania takowych informacji.</li>
      <li>10. Serwis zawiera dokumenty,które chronione są prawem autorskim oraz znaki towarowe będące przedmiotem ochrony prawa własności intelektualnej.</li>
      <li>11. Serwis nie ponosi odpowiedzialności za wirusy komputerowe, awarie systemu lub opóźnienia transmisji danych.</li>
    </ul>
    <h5>§ 6. Odpowiedzialność Użytkownika wobec bankierski.pl</h5>
    <ul class="list-unstyled">
      <li>1. Serwis bankierski.pl nie ponosi odpowiedzialności za korzystanie z Serwisu w sposób niezgodny z postanowieniami niniejszego Regulaminu</li>
      <li>2. Użytkownik ma prawo korzystać z Serwisu wyłącznie na własny użytek</li>
    </ul>
    <h5>§ 7. Świadczenie usług drogą elektroniczną</h5>
    <ul class="list-unstyled">
      <li>1. Użytkownik ma prawo do składania reklamacji poprzez pocztę elektroniczną, na adres podany w zakładce „Kontakt”, po czym najpóźniej w ciągu 30dni od jej wpłynięcia bankierski.pl zobowiązuje się do wysłania informacji o wyniku przeprowadzonego postępowania reklamacyjnego na wskazany przez Użytkownika adres poczty elektronicznej lub adres korespondencyjny.</li>
      <li>2. Reklamacja zawierać powinna kolejno: Login Użytkownika, Imię, Nazwisko,Adres korespondencyjny oraz opis problemu będącego podstawą złożenia reklamacji.</li>
    </ul>
    <h5>§ 8. Przetwarzanie danych osobowych</h5>
    <ul class="list-unstyled">
      <li>1. Użytkownik przekazuje swoje dane oraz adres korespondencyjny dobrowolnie oraz wyraża zgodę na ich przetwarzanie zgodnie z przepisami o ochronie danych osobowych, zgodnie z ustawą z dnia 29 sierpnia 1997r. o ochronie danych osobowych.</li>
      <li>2. Bankierski.pl ma prawo do przekazania danych osobowych Użytkownika Podmiotom współpracującym w celu przedstawienia oferty wyłącznie po zaakceptowaniu warunków niniejszego regulaminu.</li>
      <li>3. Użytkownik ma dostęp do swoich danych osobowych i ma możliwość ich poprawiania dowolną ilość razy.</li>
    </ul>
    <h5>§ 9. Prawa autorskie</h5>
    <ul class="list-unstyled">
      <li>1. Wszystkie informacje dostępne w Serwisie bankierski.pl mogą być wykorzystywane przez Użytkownika wyłącznie w celach informacyjnych oraz dla użytku własnego.</li>
      <li>2. Zabronione jest kopiowanie oraz publiczne odtwarzanie informacji zawartych w Serwisie bankierski.pl, chyba, że bankierski.pl wyrazi na to pisemną zgodę.</li>
      <li>3. Wszelkie informacje dostępne na stronie (w tym również zdjęcia, grafika strony i logo) podlegają ochronie prawnej na postawie przepisów prawa autorskiego.</li>
      <li>4. Bankierski.pl dopuszcza się występowania na stronie odnośników do stron „www”, zarządzanych przez podmioty trzecie- Użytkownik korzysta z tych odnośników wyłącznie na swoją odpowiedzialność.</li>
    </ul>
    <h5>§ 10. Uwagi końcowe</h5>
    <ul class="list-unstyled">
      <li>1. Prawem właściwym dla Regulaminu oraz dla umów o świadczenie usług drogą elektroniczną zawieranych na jego podstawie jest prawo polskie.</li>
      <li>2. Sądem właściwym do rozpatrywania sporów powstałych w związku ze stosowaniem Regulaminu lub wynikłych w związku ze świadczonymi usługami drogą elektroniczną na jego podstawie jest sąd właściwości ogólnej.</li>
      <li>3. Niniejszy Regulamin stanowi ogólne warunki umów w rozumieniu ustawy z dnia 23 kwietnia 1964r. (Kodeks Cywilny Dz. U. Z 1964r., Nr 16, poz. 93 z późniejszymi zmianami).</li>
      <li>4. Wszelkie uwagi, komentarze i reklamacje prosimy kierować na adres kontakt@bankierski.pl</li>
      <li>5. Regulamin wszedł w życie z dniem 05.12.2015. Serwis bankierki.pl zastrzega sobie prawo do jego zmiany w dowolnym terminie.</li>
    </ul>
  </div>

</section>
