<section class="bs-cooperation clearfix">
  <div class="container">
    <div class="col-xs-12">
      <div class="bs-cooperation-box text-center clearfix">
        <h3 class="bs-blue-header">Współpracujemy z</h3>
        <ul class="list-unstyled">
          <li><img alt="Filarum" src="img/providers/filarum.png"></li>
          <li><img alt="Vivus" src="img/providers/vivus.png"></li>
          <li><img alt="Wonga" src="img/providers/wonga.png"></li>
          <li><img alt="Ekspreskasa" src="img/providers/ekspreskasa.png"></li>
          <li><img alt="Netcredit" src="img/providers/netcredit.png"></li>
          <li><img alt="Cashper" src="img/providers/cashper.png"></li>
          <li><img alt="Netgotówka" src="img/providers/netgotowka.png"></li>
          <li><img alt="Pożyczkomat" src="img/providers/pozyczkomat.png"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
