<section class="bs-cooperation clearfix">
  <div class="container">
    <div class="col-xs-12">
      <div class="bs-cooperation-box text-center clearfix">
        <h3 class="bs-blue-header">Współpracujemy z</h3>
        <ul class="list-unstyled">
          <li><img alt="Filarum" src="img/providers/filarum.png"></li>
          <li><img alt="Vivus" src="img/providers/vivus.png"></li>
          <li><img alt="Wonga" src="img/providers/wonga.png"></li>
          <li><img alt="Alfa Kredyt" src="img/providers/alfakredyt.png"></li>
          <li><img alt="Ekspreskasa" src="img/providers/ekspreskasa.png"></li>
          <li><img alt="Netcredit" src="img/providers/netcredit.png"></li>
          <li><img alt="Cashper" src="img/providers/cashper.png"></li>
          <li><img alt="Netgotówka" src="img/providers/netgotowka.png"></li>
          <li><img alt="Pożyczkomat" src="img/providers/pozyczkomat.png"></li>
          <li><img alt="Kobieta z Kasą" src="img/providers/kobieta.png"></li>
          <li><img alt="SohoCredit" src="img/providers/soho.png"></li>
          <li><img alt="Ferratum" src="img/providers/ferratum.png"></li>
          <li><img alt="SMS365" src="img/providers/sms365.png"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
