<section class="bs-loan-offers clearfix">
  <div class="container">
    <div class="col-xs-12 col-md-6">
      <h4 class="bs-header-break">Oferty pożyczek</h4>
      <ul class="list-unstyled clearfix">
        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/alior.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1200 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">125 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/vivus.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1000 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/santander.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1000 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/alior.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1200 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">125 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/millennium.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1200 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">125 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4 class="bs-header-break">Oferty banków</h4>

      <ul class="list-unstyled clearfix">
        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/millennium.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1200 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">125 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/mbank.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1000 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/pkobp.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1000 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/alior.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1200 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">125 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <img alt="" src="img/providers/vivus.png">
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1000 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">55,54 %</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

</section>
