<section class="bs-loan-offers clearfix">
  <div class="container">
    <div class="col-xs-12 col-md-6">
      <h4 class="bs-header-break">Pierwsza pożyczka</h4>
      <ul class="list-unstyled clearfix">
        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/vivus">
              <img alt="" src="img/providers/vivus.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">500 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">0%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/vivus" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/sms365">
              <img alt="" src="img/providers/sms365.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">900 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">8,348%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">180 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/sms365" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/kobieta">
              <img alt="" src="img/providers/kobieta.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">400 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">8,352%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">80 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/kobieta" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/soho">
              <img alt="" src="img/providers/soho.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">800 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">0%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/soho" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/filarum">
              <img alt="" src="img/providers/filarum.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">600 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">0%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">0 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/filarum" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <h4 class="bs-header-break">Kolejna pożyczka</h4>

      <ul class="list-unstyled clearfix">

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/ekspreskasa">
              <img alt="ekspreskasa" src="img/providers/ekspreskasa.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">700 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">23,05%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">175 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/ekspreskasa" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/vivus">
              <img alt="vivus" src="img/providers/vivus.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1100 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">810,1%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">104,5 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/vivus" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/netcredit">
              <img alt="netcredit" src="img/providers/netcredit.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">1600 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">b/d</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">325 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/netcredit" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/pozyczkomat">
              <img alt="pozyczkomat" src="img/providers/pozyczkomat.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">500 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">8,351%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">100 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/pozyczkomat" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

        <li class="bs-provider-small-offer">
          <div class="col-xs-6 col-sm-2 bs-provider-logo">
            <a href="/provider/ferratum">
              <img alt="pozyczkomat" src="img/providers/ferratum.png">
            </a>
          </div>
          <div class="col-xs-4 col-sm-3 bs-amount-value">
            <h6 class="bs-provider-label">pożyczana kwota</h6>
            <p class="bs-provider-value">800 zł</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-rrso-value">
            <h6 class="bs-provider-label">rrso</h6>
            <p class="bs-provider-value">23,05%</p>
          </div>
          <div class="col-xs-4 col-sm-2 bs-comprasion-value">
            <h6 class="bs-provider-label">prowizja</h6>
            <p class="bs-provider-value">200 zł</p>
          </div>
          <div class="col-xs-12 col-sm-3 bs-provider-action">
            <a class="bs-button-orange-small" href="/redirect/ferratum" target="_blank" title="Złóż wniosek">Złóż wniosek</a>
          </div>
        </li>

      </ul>
    </div>
  </div>

</section>
