<section class="bs-subscribe clearfix">
  <div class="container">
    <div class="col-xs-12 text-center">
      <h4 class="bs-header-break">Zobacz więcej</h4>
      <span class="bs-subscribe-arrow">
        <i class="fa fa-lg fa-angle-down"></i>
      </span>
    </div>
    <div class="col-xs-12 text-center bs-subscribe-header">
      <h3>Co zyskujesz składając wniosek z naszej
        <span>strony ?</span>
      </h3>
    </div>
    <div class="col-xs-12 col-md-6 bs-subscribe-image">
      <img alt="Co zyskujesz ?" src="img/devices.png">
    </div>
    <div class="col-xs-12 col-md-6 bs-subscribe-description">
      <div class="bs-subscirbe-box clearfix">
        <p>Profesjonalne i kompleksowe porówanie najlepszych ofert kredytowych.</p>
        <p>Indywidualne doradztwo w doborze odpowiedniego kredytu.</p>
        <p>Rzetelne, codziennie aktualizowane informacje z rynku.</p>
        <p>Gwarancja najlepszego wyboru, zgodnie z aktualnymi ofertami banków.</p>
        <p>Wiele ciekawych promocji i nagród do wygrania specjalnie dla Ciebie.</p>
      </div>
    </div>
  </div>
</section>
