<section class="bs-testimonials clearfix">
  <div class="container">
    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Porównaj" src="img/testimonial-1.png">
      <h2>porównaj</h2>
      <span class="bs-break-line"></span>
      <p>To proste! Ustaw kwotę i okres spłaty, a nasza porównywarka wybierze dla Ciebie najbardziej korzystną ofertę. Sprawdź, gdzie masz największe szanse na pożyczkę!</p>
    </div>
    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Zaoszczędź" src="img/testimonial-2.png">
      <h2>zaoszczędź</h2>
      <span class="bs-break-line"></span>
      <p>Gwarantujemy, że nasza porównywarka jest w 100% autentyczna. Z nami zaoszczędzisz i wybierzesz najbardziej opłacalną pożyczkę dostosowaną do Twoich potrzeb i możliwości.</p>
    </div>

    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Odbierz pieniądze" src="img/testimonial-3.png">
      <h2>odbierz pieniądze</h2>
      <span class="bs-break-line"></span>
      <p>Z nami zyskujesz najwięcej! Bez zaświadczeń o dochodach i wychodzenia z domu już dziś odbierz pieniądze i ciesz się oszczędnościami!</p>
    </div>
  </div>
</section>
