<section class="bs-testimonials clearfix">
  <div class="container">
    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Porównaj" src="img/testimonial-1.png">
      <h2>porównaj</h2>
      <span class="bs-break-line"></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Zaoszczędź" src="img/testimonial-2.png">
      <h2>zaoszczędź</h2>
      <span class="bs-break-line"></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>

    <div class="col-xs-12 col-sm-4 bs-testimonial-box">
      <img alt="Odbierz pieniądze" src="img/testimonial-3.png">
      <h2>odbierz pieniądze</h2>
      <span class="bs-break-line"></span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
  </div>
</section>
