<section id="bs-compare" ng-class="{'bs-loading': providersLoad}" ng-controller="CompareCtrl">
  <div class="container bs-pR">
    <%- include('loader.ejs') %>
    <div class="col-xs-12 text-center bs-blue-background">
      <section class="bs-wrapper clearfix">
        <h1>Potrzebujesz gotówki ?</h1>
        <h2>
          <span class="bs-normal">Porównaj</span>
          najlepsze oferty kredytów i pożyczek
        </h2>
        <div class="bs-amount-slider col-xs-12 clearfix">
          <div class="col-xs-12 col-md-3 bs-compare-label-box">
            <span class="bs-compare-label">ustaw kwotę</span>
            <span class="bs-slider-decrease" ng-click="decreaseAmount()">-</span>
            <span class="bs-slider-value pull-right" ng-bind="amount.value + ' zł'"></span>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="bs-amount-scale clearfix">
              <span class="bs-scale bs-scale-start">100</span>
              <span class="bs-scale bs-scale-quarter">2500
                <span class="bs-arrow-up"></span>
              </span>
              <span class="bs-scale bs-scale-middle">5000
                <span class="bs-arrow-up"></span>
              </span>
              <span class="bs-scale bs-scale-triple-quarter">7500
                <span class="bs-arrow-up"></span>
              </span>
              <span class="bs-scale bs-scale-end">10 000</span>
            </div>
            <div max="amount.maxValue" min="amount.minValue" model-max="amount.value" pin-handle="min" range-slider step="100"></div>
          </div>
          <div class="col-xs-12 col-md-3 bs-compare-value-box">
            <span class="bs-slider-increase" ng-click="increaseAmount()">+</span>
            <span class="bs-slider-value" ng-bind="amount.value"></span>
            <span class="bs-compare-unit">zł</span>
          </div>
        </div>
        <div class="bs-time-slider col-xs-12 clearfix">
          <div class="col-xs-12 col-md-3 bs-compare-label-box">
            <span class="bs-compare-label">okres spłaty</span>
            <span class="bs-slider-decrease" ng-click="decreaseTime()">-</span>
            <span class="bs-slider-value pull-right" ng-bind="time.value + ' dni'"></span>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="bs-time-scale clearfix">
              <span class="bs-scale bs-scale-start">1</span>
              <span class="bs-scale bs-scale-end">100</span>
            </div>
            <div max="time.maxValue" min="time.minValue" model-max="time.value" pin-handle="min" range-slider step="1"></div>
          </div>
          <div class="col-xs-12 col-md-3 bs-compare-value-box">
            <span class="bs-slider-increase" ng-click="increaseTime()">+</span>
            <span class="bs-slider-value" ng-bind="time.value"></span>
            <span class="bs-compare-unit">dni</span>
          </div>
        </div>
        <div class="col-xs-12 text-center bs-compare-action">
          <div class="bs-borrow-count">
           <input type="checkbox" id="firstTimeBorrow" name="firstTimeBorrow" ng-model="firstTimeBorrow">
            <label for="firstTimeBorrow">Pożyczam pierwszy raz</label>
          </div>
          <span class="bs-standard-button" id="bs-compare-action" ng-click="onLoanCompare()">Porównaj</span>
        </div>
      </section>
    </div>
  </div>
  <%- include('results.ejs') %>
</section>
