<footer class="bs-main-footer clearfix">
  <div class="container bs-top-footer">
    <div class="col-xs-12 col-sm-6 bs-footer-logo-box">
      <a class="bs-footer-logo" href="/" title="Bankierski - wiarygodna porównywarka"><img alt="Bankierski logo" src="img/logo.png"></a>
    </div>
    <div class="col-xs-12 col-sm-offset-3 col-sm-3 bs-footer-seo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
  <div class="bs-footer-menu clearfix">
    <div class="container">
      <ul class="list-unstyled">
        <li>
          <a href="/home" title="Kredyty">Kredyty</a>
        </li>
        <li>
          <a href="/home" title="Pożyczki">Pożyczki</a>
        </li>
        <li>
          <a href="/contact" title="Kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script src="lib/js/jquery.js" type="text/javascript"></script>
<script src="lib/js/bootstrap.js" type="text/javascript"></script>
<% if (headSectionData.loadAngular) { %>
  <script src="lib/js/angular.js" type="text/javascript"></script>
  <script src="lib/js/angular-slider.js" type="text/javascript"></script>
  <script src="lib/app.js" type="text/javascript"></script>
  <script src="lib/services/compareService.js" type="text/javascript"></script>
  <script src="lib/main.js" type="text/javascript"></script>
<% } %>
