<head>
  <title><%= headSectionData.title %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta charset="utf-8">
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
