<head>
  <title><%= headSectionData.title %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta charset="utf-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
   <meta name="google-site-verification" content="PqHFdAJDLgkOs1Cuz32KtWvimuLq4Jy4hJkiHEGtmiU" />
  <meta content="Jedyna w Polsce wiarygodna porównywarka pożyczek i ofert kredytowych." name="description"/>
  <meta content="pożyczka, porównywarka, kredyt, chwilówka, vivus, filarum, netcredit, wonga, porównaj" name="keywords"/>
  <link href="/img/favicon.png" rel="shortcut icon"/>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
