<section class="container bs-loan-provides" ng-if="compareTrigger">
  <header class="bs-results-header text-center clearfix" id="bs-search-results">
    <div class="col-xs-12">
      <h3>
        <i class="fa fa-search"></i>
        wyniki porównywarki</h3>
      <p>kredyty gotówkowe
        <span ng-bind="searchArguments.value"></span>
        zł okres kredytowania
        <span ng-bind="searchArguments.time"></span>
        dni</p>
    </div>
  </header>

  <div class="clearfix" ng-if="showDetailsNotification">
    <div ng-include="'assets/templates/loan-notification.html'"></div>
  </div>

  <div class="bs-empty-results text-center col-xs-10 col-xs-offset-1" ng-if="loanProviders.length === 0">
    Niestety nie znaleźlśmy ofert spełniających kryteria wyszukiwania. Być może zainteresują Cię nasze poniżej przygotowane oferty.
  </div>
  <ul class="list-unstyled bs-compare-results" ng-if="loanProviders">
    <div ng-include="'assets/templates/provider-element.html'"></div>
  </ul>
</section>
