<section class="container about">
  <div class="row">

    <div class="col-xs-12 breadcrumbs">
      <ul class="list-unstyled breadcrumbs__list">
        <li class="breadcrumbs__list__item">
          <a href="/" title="Strona główna">Strona główna</a>
        </li>
        <i class="fa fa-angle-right"></i>
        <li class="breadcrumbs__list__item--active">
          <a href="/o-nas" title="O nas">O nas</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12">
      <div class="about__box">
        <header class="about__header">
          <h2>O nas</h2>
        </header>
        <p>Bankierski.pl to portal, którego głównym celem jest pomoc w wyborze odpowiedniej pożyczki. Bardzo duża ilość informacji, liczne oferty oraz niejasne zasady - sprawiają, że wybór optymalnego kredytu nie zawsze jest oczywisty.
          Razem z całym zespołem staramy się zapewnić rzetelne i wiarygodne źródło informacji na temat chwilówek oraz kredytów. W tym celu ciągle ulepszamy nasze algorytmy oraz systemy porównawcze.
        </p>

        <p>
          Nasza porównywarka, pozwala znaleźć oferty pożyczek na podstawie trzech kryteriów takich jak kwota pożyczki, czas spłaty oraz informacji dotyczącej historii pożyczkobiorcy. Wyświetlane wyniki zawsze dopasowane są do preferencji użytkownika, dlatego możesz mieć całkowitą pewność, że wśród przedstawionych ofer chwilówek nie znajdziesz pożyczek odbiegających od Twoich kryteriów.
        </p>
      </div>

      <div class="about__box about__box--block">
        <header class="about__header">
          <h2>Co nas wyróżnia?</h2>
        </header>
        <blockquote>
         <p>"Mamy świadomośc, że w sieci istnieje wiele <span class="about--normal">kalkulatorów kredytowych</span> oraz <span class="about--normal">porównywarek chwilówek</span>. W przeciwieństwie do innych stron oferujących podobne usługi, zawsze na pierwszym miejscu stawiamy osiągnięcie jak największej korzyści dla pożyczkobiorcy. W tym celu nie manipulujemy wynikami porównywania oraz traktujemy wszystkich pożyczkodawców w taki sam sposób."</p>
       </blockquote>
      </div>

      <div class="about__box about__box--block">
        <header class="about__header">
          <h2>Jak działamy?</h2>
        </header>
        <p>Każdego dnia nasz algorytm skanuje oferty kredytów oraz chwilówek dla popularnych pożyczkodawców. Dzieki temu możesz mieć pewność, że na naszej stronie zawsze znajdziesz aktualne oferty i informacje dotyczące pożyczek.</p>
      </div>

    </div>

  </div>
</section>
